.vscode/**
.vscode-test/**
.claude/**
.geo_protected_config.json
src/**
out/**
node_modules/**
coverage/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig*.json
**/.eslintrc.json
**/*.map
**/*.ts
esbuild.js
jest.config.ts
!dist/**
